# Force environment rebuild
setuptools>=68.0.0
wheel>=0.41.0
streamlit==1.51.0
joblib==1.5.2
pandas==2.2.2
scikit-learn==1.6.1
spacy==3.8.7
torch==2.8.0
transformers==4.57.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85