# Force environment rebuild
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
joblib==1.5.2
pandas==2.2.2
pandas-stubs==2.2.2.240909
preshed==3.0.10
scikit-learn==1.6.1
sklearn-pandas==2.2.0
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
streamlit==1.51.0
thinc==8.3.6
torch==2.8.0
torchao==0.10.0
torchaudio==2.8.0
torchdata==0.11.0
torchsummary==1.5.1
torchtune==0.6.1
torchvision==0.23.0
transformers==4.57.1